# Individuals or teams that are responsible for code in this repository.
# Each line is a file pattern (for a specific dir) followed by one or more owners.

# Default owners will be asked to review when someone opens a pull request.
# *       @github-webhook-proxy-admins
